/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header {
    text-align: center;
    background-color: rgb(0,200,255);
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.buttons {
    text-align: right;
}

button{
    margin: 5px 5px;
}

input {
    margin: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    background-color: #009933;
    
}

.footer {
    background-color: #6666ff;
    text-align: center;
    margin-top: 4in;
}

/*body {
    background-image: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj5pdSrp5TVAhVn_4MKHZWBCZ0QjRwIBw&url=http%3A%2F%2Fwallpaperpulse.com%2Fbackground-1080&psig=AFQjCNHJwF_9sLzy6X-oh71Hjm-DvOFuNg&ust=1500517998262953);
    
}*/