        <h1 class="header">To-Do list</h1>
        
        <div class="buttons">
        <button type"button"><a href="#">+</a></button>
        <button type="button"><a href="#">edit</a></button>
        </div>
         
         <ul>
            <li>
                 <input type="checkbox" > </input>
                <a href="show.html">asdf</a>
            </li>
            <li>
                <input type="checkbox"></input>
                    <a href="#">
                        fdsa
                    </a>
            </li>
            <li>
                <input type="checkbox"></input>
                    <a href="#">
                        qwerty
                    </a>
            </li>
         </ul>
         
         
<div id = "new-todo-block">
    <input id = "new-todo-description" class="text-input" type="text" placeholder="Task"/>
    <br>
    <input id = "new-pomodoro-estimate" class="text-input" type="number"/>
    <br>
    <input id = "add-new-todo-button" class="button" type="submit"/>
</div>
         
         
         <div class="footer">
             Made by An Ngo
         </div>
