<img src="http://www.daoulaba.com/i/2017/05/simple-light-wallpapers-desktop-background.jpg" class="background"/>

<h1 class="header">To-Do list</h1>

<div class="edit">
<button type"button"><a href="#">+</a></button>
<button type="button"><a href="#">edit</a></button>
</div>
 
 <ul>
    <li>
         <input type="checkbox" > </input>
        <a href="show.html">eat</a>
    </li>
    <li>
        <input type="checkbox"></input>
            <a href="#">
                fdsa
            </a>
    </li>
    <li>
        <input type="checkbox"></input>
            <a href="#">
                qwerty
            </a>
    </li>
</ul>
         
         
<div id = "new-todo-block">
    <input id = "new-todo-description" class="text-input" type="text" placeholder="Task"/>
    <br>
    <input id = "new-pomodoro-estimate" class="text-input" type="number"/>
    <br>
    <input id = "add-new-todo-button" class="button" type="submit"/>
</div>