<img src="http://www.daoulaba.com/i/2017/05/simple-light-wallpapers-desktop-background.jpg" class="background"/>

<h1 class="header">To-Do list</h1>

<div class="edit">
<button type"button"><a href="#">+</a></button>
<button type="button"><a href="#">edit</a></button>
</div>
 
 <ul>
     <% @todos.each do |todo| %>
    <li>
         <input type="checkbox" name=""/>
         <a href="todo/show/<%= todo.id %>"><%= todo.description %>
         <span class="pomodoro-estimate small-ponodoro-estimate"><%= todo.pomodoro_estimate %> Pomodoros</span>
         </a>
         <!-- extended the </a> to make the black pomodoros clickable -->
    </li>
    <% end %>
</ul>

         
<div id = "new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>