<img src="http://www.daoulaba.com/i/2017/05/simple-light-wallpapers-desktop-background.jpg" class="background"/>

<div class="card">
    <h2>Add a new todo</h2>
    
    <form action="/todo/create">
        <input class="text-input" name="description" type="text" placeholder="Add a new todo..."></input>
        <input class="text-input" name="pomodoro_estimate" type="number" placeholder="Due Date"></input>
        <input class="button add-new-todo-button" type="submit" value="Add todo"></input>
        <a href="/" class="simple-link">Go back...</a>
    </form>
</div>