<h1 class="header"><a href="index.html">To-Do list</a></h1>
    <li class="task">
        <input type="checkbox" > </input>
         asdf
    </li>
    
    <input type="date" name="due date"/>
    
    <br><br>
    
<div class="buttons">
    <button>
        <a href="#">Edit</a>
    </button>
</div>
<div class="buttons">
    <button>
        <a href="#">Delete</a>
    </button>
</div>
<div class="buttons">
    <button>
        <a href="index.html">Go Back</a>
    </button>
</div>