<h1>Todo #<%= params[:id] %></h1>

<h1 class="header"><a href="index.html">To-Do list</a></h1>
<img src="http://www.daoulaba.com/i/2017/05/simple-light-wallpapers-desktop-background.jpg" class="background"/>

    <li><%=@todo.description%> <%=@todo.pomodoro_estimate%></li>
    <input type="date" name="due date"/>
    
    <br><br>
    
<div class="buttons">
    <button>
        <a href="#">Edit</a>
    </button>
</div>
<div class="buttons">
    <button>
        <a href="#">Delete</a>
    </button>
</div>
<div class="buttons">
    <button>
        <a href="index.html">Go Back</a>
    </button>
</div>